body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.controller.ds4.white {
background-image: url(blue_base.svgz)
}
.ds4.white .stick {
background-image: url(blue_sticks.svgz)
}
.ds4.white .face {
background-image: url(blue_dpad.svgz)
}
.ds4.white .trigger {
background-image: url(blue_triggers.svgz)
}
.ds4.white .trigger.left {
background-image: url(blue_triggers.svgz)
}
.ds4.white .trigger.right {
background-image: url(blue_triggers.svgz)
}
.ds4.white .bumper {
background-image: url(blue_bumper.svgz)
}
