body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.controller.ds4.white {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762222279262209/yu_base.svgz)}
.ds4.white .stick {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762229082554384/yu_sticks.svgz)}
.ds4.white .face {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762225102028800/yu_dpad.svgz)}
.ds4.white .trigger {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762232056053766/yu_triggers.svgz)}
.ds4.white .trigger.left {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762232056053766/yu_triggers.svgz)}
.ds4.white .trigger.right {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762232056053766/yu_triggers.svgz)}
.ds4.white .bumper {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672763240211677184/yu_bumper.svgz)}
.ds4.white .start {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762227320684554/yu_start.svgz)}
.ds4.white .back, ds4.start {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762227320684554/yu_start.svgz)}
.ds4.white .touchpad.pressed {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762230672064532/yu_touchpad.svgz)}
.ds4.white .button{
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/672762226028969994/yu_face.svgz)}