body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.controller.ds4.white {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322826188750850/yumekawa3_base.svgz)}
.ds4.white .stick {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322822111887390/yumekawa3_sticks.svgz)}
.ds4.white .face {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322827795300352/yumekawa3_dpad.svgz)}
.ds4.white .trigger {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322824473280522/yumekawa3_triggers.svgz)}
.ds4.white .trigger.left {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322824473280522/yumekawa3_triggers.svgz)}
.ds4.white .trigger.right {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322824473280522/yumekawa3_triggers.svgz)}
.ds4.white .bumper {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628323976212381708/yumekawa3_bumper.svgz)}
.ds4.white .start {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322821143265290/yumekawa3_start.svgz)}
.ds4.white .back, ds4.start {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322821143265290/yumekawa3_start.svgz)}
.ds4.white .touchpad.pressed {
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322823303331850/yumekawa3_touchpad.svgz)}
.ds4.white .button{
background-image: url(https://cdn.discordapp.com/attachments/617319015395753984/628322829502251058/yumekawa3_face.svgz)}