body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.xbox.white {
background: url(base-white_ps4_trigger.svgz)}

.xbox .button{
margin-top:6px;
background: url(abxy.svgz)
}

.xbox .y{
background-position: 48px 0;
}

.xbox .x{
background-position: -98px 0;
}

.xbox .b{
background-position: -49px 0;
}

.xbox .bumper {
background: url(bumper.svgz)
}

.xbox .stick{
background: url(stick.svgz);
background-position: 83px 0;
}

.xbox .trigger{
position: relative;
width: 100px;
height: 91px;
background: url(ps4_trigger.svgz)
}

.xbox .trigger.left{
left: -9px;
top: 33px;
}

.xbox .trigger.right{
right: -9px;
top: 33px;
}
