body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.controller.ds4.white {
background-image: url(kill_me_base.svgz)}
.ds4.white .stick {
background-image: url(kill_me_sticks.svgz)}
.ds4.white .face {
background-image: url(kill_me_dpad.svgz)}
.ds4.white .trigger {
background-image: url(kill_me_triggers.svgz)}
.ds4.white .trigger.left {
background-image: url(kill_me_triggers.svgz)}
.ds4.white .trigger.right {
background-image: url(kill_me_triggers.svgz)}
.ds4.white .bumper {
background-image: url(kill_me_bumper.svgz)}
.ds4.white .start {
background-image: url(kill_me_start.svgz)}
.ds4.white .back, ds4.start {
background-image: url(kill_me_start.svgz)}
.ds4.white .touchpad.pressed {
background-image: url(kill_me_touchpad.svgz)}
.ds4.white .button{
background-image: url(kill_me_face.svgz)}
