body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.controller.ds4.white {
background-image: url(pink_base.svgz)
}
.ds4.white .stick {
background-image: url(pink_sticks.svgz)
}
.ds4.white .face {
background-image: url(pink_dpad.svgz)
}
